@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors: */
  --primary: #1e88e5;
  --white: #ffffff;
  --secondary: #ff4081;
  --background: #121212;
  --backgroundShade: #1a1c20;
  --paper: #1f1f1f;
  --textPrimary: #dbe5ea;
  --textSecondary: #b0bec5;
  --divider: #424242;
  --error: #ff7f50;
  --red: #891422;
  --hover: rgba(255, 255, 255, 0.08);
  --font-family-roboto: '"Roboto", sans-serif';
}

body {
  color: var(--white);
}

a {
  text-decoration: none;
}
